@page

@using FakeFacebook.Models;
@model FakeFacebook.Controllers.HomeController
  
@{
}


<!DOCTYPE HTML>

<html lang="pl">



<head>
    <title>Strona główna</title>
    <meta charset="utf-8" />
    <meta name="description" content="Strona główna" />
    <meta name="keywords" content="Strona główna" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <link rel="stylesheet" href="~/css/Fontello/css/fontello.css" type="text/css" />
    <link rel="stylesheet" href="~/css/Main/Main.css" type="text/css" />



    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->




</head>







 <body>

     <div id="M-M-Page">


         <nav>
             <div id="M-M-Navigation">

                 <div id="M-M-HomeButton">

                     <a href="Main.cshtml">

                         <i class="demo-icon icon-bell"></i>
                     </a>

                 </div>
                 


                 <div id="M-M-MonitorButton">
                     <i class="demo-icon icon-monitor"></i>
                 </div>

                 <div id="M-M-User-Plus">
                     <i class="demo-icon icon-user-plus"></i>
                 </div>

                 <div id="M-M-icon-Comment">
                     <i class="demo-icon icon-comment"></i>
                 </div>

                 <div id="M-M-Group">
                     <i class="demo-icon icon-group">  </i>
                 </div>

                 <div id="M-M-Home">
                     <i class="demo-icon icon-home">  </i>
                 </div>


                 <input id="M-M-SearchInput" type="text" name="search" />




             </div>

         </nav>



         <div id="M-M-Friends">

             <label id="M-M-FriendsLabel"> Znajomi </label>

             <div id="Empty">

             </div>


           
             @using (Html.BeginForm("Index", "Home", FormMethod.Post))
             {

              
               
                      
                 @foreach (Account a in ViewBag.Friends)
                 {
                       <div class="Friend">
                           <div id="All">
                               <label class="M-M-Friend-FirstName"> @a.Name </label>
                                <label class="M-M-Friend-Surname">  @a.Surname </label>
                            </div>
                       </div>
                 }

             }



            








         </div>











     </div>







 </body>






</html>